<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Authentication Process</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="/css/auth-template.css" />

  </head>

  <body>
    <div class="container">

      <button class="btn-twitter btn btn-lg btn-primary btn-block" id="sign-in-with-twitter"
							onclick=window.location='/auth/twitter'>
				Sign in with Twitter!
      </button>
      <button class="btn-tumblr btn btn-lg btn-primary btn-block" id="sign-in-with-tumblr"
							onclick=window.location='/auth/tumblr'>
        Sign in with Tumblr!
      </button>
			<button class="btn-instagram btn btn-lg btn-primary btn-block" id="sign-in-with-tumblr"
							onclick=window.location='/auth/instagram'>
				Sign in with Instagram!
			</button>
    </div>
  </body>

</html>
